<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeh older="Type to filter">
    </div>
</div>
<hr>

<table class="table table-striped" *ngIf="clientes && clientes.length">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">identificación</th>
            <th scope="col">Nombre </th>
            <th scope="col">capital Credito</th>
            <th scope="col">tasa Interes</th>
            <th scope="col">tiempo Credito</th>
            <th scope="col">TotalAPagar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.identificacion }} </td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.capitalInicialDeCredito }}</td>
            <td>{{ cliente.tasaDeInteresCompuesto }}</td>
            <td>{{ cliente.tiempoDeDuracionDelCredito }}</td>
            <td>{{ cliente.valorTotalAPagar }}</td>
        </tr>
    </tbody>
</table>